<launch>
  <param name="robot_description" command="cat $(find hrp2_14_description)/urdf/hrp2_14_capsule.urdf"/>

  <node name="robot_state_publisher"
	pkg="robot_state_publisher"
	type="state_publisher"
	respawn="true">
    <param name="tf_prefix" value="" />
  </node>

  <node name="rviz"
	pkg="rviz"
	type="rviz"
	launch-prefix="gdb -ex run --args"
	args="-d $(find hpp_ros)/rviz_configs/hpp_ros.rviz"
	respawn="false">
  </node>

  <param name="cylinder_description"
    textfile="$(find hpp_ros)/urdf/cylinder.urdf"/>

  <node pkg="tf" type="static_transform_publisher"
	name="cylinder_link_broadcaster"
	args="0 0 0 0 0 0 /map /cylinder/base_link 100">
  </node>
  <node pkg="robot_state_chain_publisher" type="state_chain_publisher"
    name="cylinder_state_publisher" output="screen">
    <param name="tf_prefix" value="/cylinder"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="cylinder_description" />
  </node>


</launch>
